<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Suhas Kanwar">
        <meta name="keywords" content="url, Shortener, collection">
        <meta name="Description" content="A URL-Shortener app which generates a short ID for the provided url and provides access to all the previously generated URLs.">
        <title>LinkZap</title>
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/login.css">
    </head>
    <body>
        <section class="container">
            <div class="login-container">
                <div class="circle circle-one"></div>
                <div class="form-container">
                    <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                    <h1 class="opacity">LOGIN</h1>
                    <form method="post" action="/user/login">
                        <input type="text" name="userName" placeholder="USERNAME" />
                        <input type="password" name="password" placeholder="PASSWORD" />
                        <button class="opacity">SUBMIT</button>
                    </form>
                    <div class="register opacity">
                        <a href="/login/create-user">REGISTER</a>
                    </div>
                </div>
                <div class="circle circle-two"></div>
            </div>
        </section>
        <script src="/login.js"></script>
    </body>
</html>